* {
     box-sizing: border-box;
     margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 900px;
    padding: 10px 20px;
    background-color: #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}
todo-inplut {
    width: 400px;
    gap: 10px;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
button{
    padding: 4px 8px;
    border-radius: 5px;
    background-color: green;
    color: black;
}
li {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border: 1px #4e4d4d solid;
    padding: 4px;
    border-radius: 4px;
}
.todo-form{
    border: 1px black solid;
    padding: 8px;
    border-radius: 4px;
}
.todo-list{
    border: 1px black solid;
    padding: 4px;
    border-radius: 4px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio-show:checked+ul{
    display: block;
}
.radio-hidden:checked +ul{
    display: none;
}